@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Briem+Hand:wght@100..900&family=Jacquard+12&display=swap');

body{
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Briem Hand", cursive;
  text-align: center;
  font-size: xx-large;
  letter-spacing: normal;
}



.heading{
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 80px;
  letter-spacing: normal;
  margin-bottom: 0;
}

.subheading{
  font-size: xx-large;
  margin-top: 0;
  margin-bottom: 0;
}

p{
  font-size: xx-small;
}
