body{
   display: grid;
   align-items: center;
   justify-content: center;
   background-image: url(background.gif);
   background-position: center;
   background-repeat: no-repeat;
}

.gridcontainer{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 5px;
    justify-content: center;
    align-items: center;
}


#mankey{
    background-color: #f4d3a2;
    width: 250px;
}

#meowth{
    background-color: #eae4c5;
    width: 250px;
}

#mew{
    background-color: #f4c4b3;
    width: 250px;
}

#pidgey{
    background-color: #e29c37;
    width: 250px;
}

#pikachu{
    background-color: #ffd400;
    width: 250px;
}

#psyduck{
    background-color: #fff800;
    width: 250px;
}

#rattata{
    background-color: #a962e8;
    width: 250px;
}

#snorlax{
    background-color: #009be8;
    width: 250px;
}

#squirtle1{
    background-color: #7fe5d8;
    width: 250px;
}

#venonat1{
    background-color: #7c34c1;
    width: 250px;
}

#weedle{
    background-color: #ddc38a;
    width: 250px;
}

#zubat{
    background-color: #4f74e8;
    width: 250px;
}
